.node>.content>.field:first-child {
	border-bottom: 1px solid #CCC;
	margin-bottom:1em;
}

.node { 
	border-bottom: 1px solid #CCC;
}

#page-wrapper {
	background-color: white;
}

.page-header {
	margin-top: 20px;
	border-bottom: none;
}

#page {
	background-color: white;

}

#name-and-slogan{
  display: none;
}

#header{
  margin-bottom: 20px;
}

body{
  border-top: 20px solid #19273C;
  border-bottom: 20px solid #19273C;
  padding-top: 20px;
  font-family: "Merriweather","Georgia",serif;
  font-size: 15px;
  line-height: 22px;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  font-weight: 600;
}

p, li{
  font-size: 15px;
  line-height: 24px;
}

.subtext{
  font-size: 75%;
  line-height: 19px;
}

a, a:visited, a:link {
  text-decoration: none;
  color: #72C494;
  font-weight: bold;
}
a:hover, a:focus {
  color: #10271a;
  cursor: pointer;
  text-decoration: none;
}

a.arrowlink:before {
  content: "\2192\2009";
  position: relative;
  bottom: 1px;
}

a.arrowlink:visited:before {
   content:  "\2713 ";
}

a.btn {
	color:white;
}

a.btn-default {
	color:black;
}

.rtecenter {
	text-align: center;
}

pre[class*="language-"] {
  border: none;
}


/* FRONT MENU CSS BELOW */
.front-menu-box {
	height:310px;
	padding: 0px 15px;
	overflow: hidden;
	transition: box-shadow 0.001s;
	transition-timing-function: ease;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.front-menu-box, .front-menu-box:visited, .front-menu-box:link, .front-menu-box:hover, .front-menu-box:focus {
	color: black;
}

.front-menu-box:hover {
	box-shadow: 1px 1px 10px;
}

.front-menu-box:active {
	box-shadow: 1px 1px 4px;
}

.front-menu-box-title {
	border-bottom: 1px solid #CCC;
	/*padding: 3px;*/

}

.front-menu-sublink-frame {
	padding:0px 15px 0px 15px;
	width:100%;
	position:absolute;
	visibility: hidden;
	left: 0px;
	top: 320px;
	z-index:1;
	background-color:white;

}
.front-menu-sublink-frame:hover {
	visibility: visible;
}

.front-menu-item:hover .front-menu-sublink-frame{
	visibility: visible;
}

.front-menu-sublink-box {
	height: 200px;
	padding: 15px;
	overflow:auto;
	box-shadow: 1px 1px 10px;	
}

/* REGULAR MENU BELOW */

.navbar-toggle {
	display:block;
}

.small_icon {
	height:25px;
}

.nav>li>a {
	padding:5px 0px;
}

@media (max-width: 1920px) {/*Icky bootstrap menu size fix*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
	overflow:auto!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

}


/* HIDING "SUBMITTED BY" BELOW*/
.submitted {
	display:none;
}

/* HIDING BREADCRUMBS BELOW*/
.breadcrumb {
	display:none;
}


.panel-primary{
  border-color: #4B769C;
}

.panel-primary > .panel-heading {
  background-image: linear-gradient(to bottom, #4B769C 0px, #2E5173 100%); 
  background-color: #4B769C;
}

